<template>
 <span class="d-inline-block">
    <span
        :id="wrapperId"
        class="d-inline-block full-width"
        tabindex="0"
    >
      <b-button
          class="full-width"
          v-bind="$attrs"
          :disabled="isDisabled"
          :variant="!isDisabled ? 'primary' : ''"
          @click="innerOnClick"
      >
        <slot>Fallback</slot>
      </b-button>
    </span>
    <b-tooltip
        :target="wrapperId"
        :disabled="!isDisabled"
    >
      {{ this.disabledTooltipText }}
    </b-tooltip>
  </span>
</template>

<script>
export default {
  name: "DisableableButton",
  inheritAttrs: false,
  props: ['isDisabled', 'disabledText', 'onClick', 'disableAuthRequired'],
  methods: {
    innerOnClick() {
      if (!this.disableAuthRequired) {

      }
      if (!this.disableAuthRequired  && !this.$store.getters.currentUser)
        this.$router.push({ name: 'Login' })
      else if (this.onClick)
        this.onClick.apply(this, arguments)
    }
  },
  computed: {
    disabledTooltipText() {
      return this.disabledText || 'Permission error'
    },
    wrapperId() {
      return 'wrapper-'+ this._uid
    }
  }
}
</script>

<style>
  .full-width {
    width: 100%;
  }
</style>
