<template>
  <b-form-group
      :id="inputGroupId"
      :label="inputGroupLabel"
      :label-for="inputId"
  >
    <b-input-group>
      <b-form-input
          :id="inputId"
          v-model.lazy="field.value"
          :state="validityStatus"
          @focus="resetValidation"
          :type="inputType"
          :placeholder="placeholder"
      ></b-form-input>
      <template v-if="isPassword" v-slot:append>
        <b-button @click="toggleVisibility"
                  variant="primary"
        >
          <b-icon icon="eye" v-if="isVisiblePassword"></b-icon>
          <b-icon icon="eye-slash" v-else></b-icon>
        </b-button>
      </template>
    </b-input-group>
    <b-form-invalid-feedback :state="validityStatus">
      <ul>
        <li v-for="error in field.errors">
          {{ error }}
        </li>
      </ul>
    </b-form-invalid-feedback>
  </b-form-group>
</template>

<script>
export default {
  name: "BCustomField",
  props: ['field'],
  computed: {
    presentationName() {
      return this.field.alias || this.field.name
    },
    isPassword() {
      return this.field.name === 'password'
    },
    inputGroupLabel() {
      let capitalizedFirstLetter = this.presentationName.charAt(0).toUpperCase()
      let optionalPostfix = this.field.optional ? '*' : ''
      return capitalizedFirstLetter + this.presentationName.slice(1) + optionalPostfix
    },
    inputGroupId() {
      return this.field.name + '-input-group'
    },
    inputId() {
      return this.field.name + '-input'
    },
    inputType() {
      return this.isPassword && !this.isVisiblePassword ? 'password' : 'text'
    },
    validityStatus() {
      if (this.field.errors.length)
        return false
      else
        return null
    },
    placeholder() {
      return 'Enter ' + this.presentationName
    }
  },
  methods: {
    resetValidation() {
      this.field.errors = [];
    },
    toggleVisibility() {
      this.isVisiblePassword = !this.isVisiblePassword
    }
  },
  data() {
    return {
      isVisiblePassword: false
    }
  }
}
</script>

<style scoped>

</style>