<template>
  <b-form @submit.prevent="onSubmit">
    <slot name="prepend">
    </slot>
    <b-custom-field
        v-for="field in fields"
        :field="field">
    </b-custom-field>
    <div v-if="nonFieldError" class="mb-3">
      <b-alert show="" variant="danger">{{ nonFieldError }}</b-alert>
    </div>
    <b-button type="submit" variant="primary">Submit</b-button>
  </b-form>
</template>

<script>
import BCustomField from "@/components/Field";

export default {
  name: "Form",
  props: ['fields', 'onSubmitHandler'],
  components: {
    BCustomField
  },
  data() {
    return {
      nonFieldError: ''
    }
  },
  methods: {
    onSubmit() {
      this.onSubmitHandler(this.payload)
        .catch(error => {
          let errorData = error.response.data
          // Parse field errors
          this.fields.forEach(
            (field) => {
              if (field.name in errorData) {
                field.errors = errorData[field.name]
              }
            }
          )
          // Non field error special case
          if ('detail' in errorData) {
            this.nonFieldError = errorData['detail']
          }
        })
    },
  },
  computed: {
    payload() {
      let payload = {}
      this.fields.forEach(
          (field) => {
            if (field.value) {
              payload[field.name] = field.value
            }
          }
      )
      return payload
    }
  },
  created() {
    this.fields.forEach(
      (field, index) => {
        this.$set(this.fields[index], 'errors', [])
        this.$set(this.fields[index], 'value', '')
      }
    )
  },
}
</script>