<template>
  <div v-infinite-scroll="fetchNextPage"
       infinite-scroll-disabled="isFetchDisabled"
       infinite-scroll-distance="pageSize"
  >
    <slot />
  </div>
</template>

<script>
import infiniteScroll from "vue-infinite-scroll";

export default {
  name: "InfiniteScroll",
  directives: {infiniteScroll},
  props: ['onFetch'],
  data() {
    return {
      pageSize: 10,
      currentPage: 0,
      totalCount: null,
      currentCount: 0,
      busy: false
    }
  },
  methods: {
    fetchNextPage() {
      if (!this.busy) {
        this.onFetch(++this.currentPage)
            .then(response => {
              this.totalCount = response.data.count
              this.currentCount += response.data.results.length
            })
            .finally(() => {
              this.busy = false
            })
      }
    }
  },
  computed: {
    isFetchDisabled() {
      return this.totalCount === this.currentCount
    },
  }
}
</script>
