<template>
<div id="nav">
  <b-navbar toggleable="lg" type="dark" variant="info">
    <b-navbar-brand href="#">NavBar</b-navbar-brand>

    <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

    <b-collapse id="nav-collapse" is-nav>
      <b-navbar-nav>
        <b-nav-form>
          <b-form-input size="sm" class="mr-sm-2" placeholder="Search"></b-form-input>
          <b-button size="sm" class="my-2 my-sm-0" type="submit">Search</b-button>
        </b-nav-form>
      </b-navbar-nav>

      <!-- Right aligned nav items -->
      <b-navbar-nav class="ml-auto">

        <template v-if="$store.getters.currentUser">
          <b-nav-item-dropdown right>
            <template v-slot:button-content>
              <em>User</em>
            </template>

            <b-dropdown-item :to="{ name: 'Profile' }">Profile</b-dropdown-item>
            <b-dropdown-item @click="onLogout">Logout</b-dropdown-item>
          </b-nav-item-dropdown>
        </template>
        <template v-else>
          <b-button variant="primary" class="mr-3" :to="{ name: 'Login' }">Log In</b-button>
          <b-button variant="primary" :to="{ name: 'Signup' }">Sign Up</b-button>
        </template>

        <b-nav-item-dropdown text="Lang" right>
          <b-dropdown-item href="#">EN</b-dropdown-item>
          <b-dropdown-item href="#">ES</b-dropdown-item>
          <b-dropdown-item href="#">RU</b-dropdown-item>
          <b-dropdown-item href="#">FA</b-dropdown-item>
        </b-nav-item-dropdown>
      </b-navbar-nav>
    </b-collapse>
  </b-navbar>
</div>
</template>

<script>
export default {
  name: "NavBar",
  methods: {
    onLogout() {
      this.$store.dispatch("logout")
          .then(() => {
            this.$router.push({ name: "Login" })
          })
    }
  }
}
</script>

<style scoped>

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}

</style>