<template>
  <div class="thumbnail row flex-column">
    <!--  todo user profile props-->
    <b-avatar class="mx-auto"></b-avatar>
    <div class="text-center">id: {{ profile.id }}</div>
  </div>
</template>

<script>
export default {
  name: "ProfileThumbnail",
  props: ['profile']
}
</script>

<style scoped>

</style>