<template>
<b-list-group>
  <b-list-group-item to="/profile" exact-active-class="active">Profile</b-list-group-item>
  <b-list-group-item to="/groups" exact-active-class="active">Groups</b-list-group-item>
</b-list-group>
</template>

<script>
export default {
  name: "SideBar",
}
</script>

<style scoped>
</style>