<template>
  <span class="rate-btn">
    <b-icon
        :icon="iconCls"
        class="post-footer-btn"
        :variant="buttonVariant"
    />
      {{ this.count }}
  </span>
</template>

<script>
export default {
  name: "ToggleableButton",
  props: ['count', 'iconCls', 'isToggled'],
  computed: {
    buttonVariant() {
      return this.isToggled ? 'danger' : ''
    }
  }
}
</script>

<style>
  .rate-btn {
    user-select: none;
  }

  .rate-btn svg {
    font-size: 1.5em;
  }
</style>
