<template>
  <b-modal
      :id="modalId"
      hide-footer
      size="xl"
      :scrollable="true"
      title="Roles"
      @hidden="roles = []"
  >
    <form @submit.prevent="createRole" class="mb-3 row no-gutters">
      <b-input
          v-model="newRoleName"
          class="col-10"
          placeholder="Enter new role name"
      />
      <disableable-button
          type="submit"
          class="col-2"
          :is-disabled="!canCreateRole"
      >
        Create role
      </disableable-button>
    </form>

    <infinite-scroll
        :on-fetch="fetchNextPage"
    >
      <role-detail
          :roles="roles"
          v-for="(role, index) in roles"
          :key="role.name"
          :current-role="role"
          @role-updated="$set(roles, index, $event)"
      />
    </infinite-scroll>
  </b-modal>
</template>

<script>
import RoleDetail from "@/components/groups/roles/RoleDetail";
import {fetchRoles, createRole as createRoleAPI} from "@/api/roles";
import InfiniteScroll from "@/components/InfiniteScroll";
import DisableableButton from "@/components/DisableableButton";
import {ADD_ROLES} from "@/utils/permission-types";

export default {
  name: "RoleListModal",
  components: {DisableableButton, InfiniteScroll, RoleDetail},
  props: ["modalId"],
  data() {
    return {
      roles: [],
      newRoleName: ''
    }
  },
  methods: {
    fetchNextPage(page) {
      let queryParams = {page}
      return (
        fetchRoles(this.$store.getters.currentGroupId, queryParams)
          .then(response => {
            this.roles.push(...response.data.results)
            return response
          })
      )
    },
    createRole() {
      createRoleAPI(this.$store.getters.currentGroupId, {name: this.newRoleName})
          .then(response => {
            this.roles.unshift(response.data)
            this.newRoleName = ''
          })
    },
  },
  computed: {
    canCreateRole() {
      return this.$store.getters.hasPermission(ADD_ROLES)
    }
  }
}
</script>
