<template>
  <b-form @submit.prevent="updateRole">
    <b-form-group
        label="Non target permissions:"
    >
      <b-form-checkbox-group
          v-model="nonTargetSelected"
          class="row no-gutters"
      >
        <b-form-checkbox
            v-for="option in nonTargetPermissionsOptions"
            v-if="$store.getters.hasPermission(option.value.name)"
            :value="option.value"
            class="offset-1 col-3 permission-checkbox"
        >
          {{ option.text }}
        </b-form-checkbox>
      </b-form-checkbox-group>
    </b-form-group>

    <target-permission-input-group
        :target-selected="targetSelected"
        :roles="roles"
        v-on:permission-added="onTargetPermissionAdded"
        v-on:permission-removed="onTargetPermissionRemoved"
    />

    <div v-if="isEdited" class="control-buttons">
      <disableable-button
          :is-disabled="false"
          type="submit"
      >
        Save
      </disableable-button>
      <b-button @click="resetRole" variant="danger">Reset</b-button>
    </div>
  </b-form>
</template>

<script>
import {updateRole as updateRoleAPI} from "@/api/roles";
import TargetPermissionInputGroup from "@/components/groups/roles/TargetPermissionInputGroup";
import DisableableButton from "@/components/DisableableButton";

export default {
  name: "RolePermissionsList",
  components: {DisableableButton, TargetPermissionInputGroup},
  props: ["currentRole", "roles"],
  data() {
    return {
      nonTargetPermissions: this.$store.getters.nonTargetPermissions,
      nonTargetSelected: this.getInitialRolePermissions().nonTarget,
      targetSelected: this.getInitialRolePermissions().target
    }
  },
  methods: {
    updateRole() {
      updateRoleAPI(
        this.$store.getters.currentGroupId,
        this.currentRole.name,
        {
          permissions: this.nonTargetSelected.concat(this.targetSelected),
        }
      ).then(response => {
        // todo event permissions updated
        this.$emit("role-updated", response.data)
        console.log(response)
      })
    },
    resetRole() {
      this.nonTargetSelected = this.getInitialRolePermissions().nonTarget
      this.targetSelected = this.getInitialRolePermissions().target
    },
    getInitialRolePermissions() {
      let initial = {
        target: [],
        nonTarget: [],
      }
      this.currentRole.permissions.forEach(
        (permission) => {
          if (!permission.target) {
            initial.nonTarget.push(permission)
          } else {
            initial.target.push(permission)
          }
        }
      )
      return initial
    },
    onTargetPermissionAdded(newPermission) {
      this.targetSelected.push(newPermission);
    },
    onTargetPermissionRemoved(removedPermission) {
      for (let i = 0; i < this.targetSelected.length; i++) {
        if (
            this.targetSelected[i].name === removedPermission.name &&
            this.targetSelected[i].target === removedPermission.target
        )
          this.targetSelected.splice(i, 1);
      }
    },
  },
  computed: {
    nonTargetPermissionsOptions() {
      let options = []
      for (const permissionName in this.nonTargetPermissions) {
        options.push({
          text: this.nonTargetPermissions[permissionName],
          value: {
            name: permissionName,
            target: null
          }
        })
      }
      return options
    },

    isEdited() {
      let sortFunc = (permission, permission2) => {
        // compare by name first
        if (permission.name > permission2.name) {
          return 1
        } else if (permission.name < permission2.name) {
          return -1
        } else {
          // compare by target
          if (permission.target > permission2.target) {
            return 1
          } else if (permission.target > permission2.target) {
            return -1
          } else return 0
        }
      }

      let nonTargetSorted = this.nonTargetSelected.sort(sortFunc)
      let initialNonTargetSorted = this.getInitialRolePermissions().nonTarget.sort(sortFunc)

      let targetSorted = this.targetSelected.sort(sortFunc)
      let initialTargetSorted = this.getInitialRolePermissions().target.sort(sortFunc)

      return !(
        nonTargetSorted.length === initialNonTargetSorted.length &&
        nonTargetSorted.every((obj, index) => obj.name === initialNonTargetSorted[index].name)
      ) || !(
        targetSorted.length === initialTargetSorted.length &&
        targetSorted.every((obj, index) => obj.name === initialTargetSorted[index].name)
      )
    }
  }
}
</script>

<style scoped>
  .permission-checkbox {
    margin-right: 0;
  }
</style>