<template>
  <b-card
      no-body
  >
    <b-card-header
        v-b-toggle="accordionId"
    >
      <div @click="isClosed = !isClosed">
        {{ $store.getters.getRoleRepresentationName(this.currentRole.name) }}
        <b-icon v-if="isClosed" icon="arrows-expand" />
        <b-icon v-else icon="arrows-collapse" />
      </div>
    </b-card-header>
    <b-collapse
        :id="accordionId"
        accordion="role-accordion"
        role="tabpanel"
    >
      <b-card-body>
        <role-permissions-list
            v-if="canEditRolePermissions"
            :current-role="currentRole"
            :roles="roles"
            @role-updated="$emit('role-updated', $event)"
        />
      </b-card-body>
    </b-collapse>
  </b-card>
</template>

<script>
import RolePermissionsList from "@/components/groups/roles/RolePermissionsList";
import {EDIT_ROLE_PERMISSIONS} from "@/utils/permission-types";
export default {
  name: "RoleDetail",
  components: {RolePermissionsList},
  props: ["currentRole", "roles"],
  data() {
    return {
      isClosed: true
    }
  },
  computed: {
    accordionId() {
      return `accordion-${this.currentRole.name}`
    },
    canEditRolePermissions() {
      return this.$store.getters.hasPermission(EDIT_ROLE_PERMISSIONS, this.currentRole.name)
    }
  }
}
</script>

<style scoped>

</style>