<template>
  <div class="row">
    <span class="col-4 my-auto">{{ permission.text }}</span>
    <b-form-group class="col-8" style="margin: 0">
      <!-- prop `add-on-change` is needed to enable adding tags vie the `change` event -->
      <b-form-tags
          @input="onTagEdit"
          :value="getValue"
          size="lg"
          add-on-change
          no-outer-focus
          class="mb-2"
      >
        <template
            v-slot="{ tags, inputAttrs, inputHandlers, disabled, removeTag }"
        >
          <ul
              v-if="tags.length > 0"
              class="list-inline d-inline-block mb-2"
          >
            <li
                v-for="tag in tags"
                :key="tag"
                class="list-inline-item"
            >
              <b-form-tag
                  @remove="removeTag(tag)"
                  :title="tag"
                  :disabled="disabled"
                  variant="info"
              >{{ tag }}</b-form-tag>
            </li>
          </ul>
          <b-form-select
              v-bind="inputAttrs"
              v-on="inputHandlers"
              :disabled="disabled || availableOptions.length === 0"
              :options="availableOptions"
          >
            <template v-slot:first>
              <!-- This is required to prevent bugs with Safari -->
              <option disabled value="">Choose a tag...</option>
            </template>
          </b-form-select>
        </template>
      </b-form-tags>
    </b-form-group>
  </div>
</template>

<script>
export default {
  name: "TargetPermissionInput",
  props: ['permission', "roles", "value"],
  methods: {
    onTagEdit(newVal) {
      this.$emit(
          "input",
          newVal.map(
              name => this.$store.getters.getRoleInnerName(name)
          )
      )
    }
  },
  computed: {
    options() {
      return this.roles.filter(
        (role) => this.$store.getters.hasPermission(this.permission.name, role.name)
      ).map(
        (role) => this.$store.getters.getRoleRepresentationName(role.name)
      )
    },
    getValue() {
      return this.value.map(roleName => this.$store.getters.getRoleRepresentationName(roleName))
    },
    availableOptions() {
      return this.options.filter(opt => this.getValue.indexOf(opt) === -1)
    },
  }
}
</script>
