<template>
  <b-form-group
      label="Target permissions:"
  >
    <target-permission-input
        v-for="[permissionName, permissionText] in Object.entries(this.$store.getters.targetPermissions)"
        :permission="{name: permissionName, text: permissionText}"
        :roles="roles"
        :value="selected[permissionName]"
        @input="onInput(permissionName, $event)"
        :selected="selected[permissionName]"
    />
  </b-form-group>
</template>

<script>
import TargetPermissionInput from "@/components/groups/roles/TargetPermissionInput";

export default {
  name: "TargetPermissionInputGroup",
  components: {TargetPermissionInput},
  props: ["targetSelected", "roles"],
  data() {
    return {
      selected: this.initializeSelected()
    }
  },
  methods: {
    // maps permissionName to an array of its targets
    initializeSelected() {
      // initialize mapping
      let selectedMapping = {}
      for (const permissionName in this.$store.getters.targetPermissions) {
        if (!(permissionName in selectedMapping)) {
          selectedMapping[permissionName] = []
        }
      }
      this.targetSelected.forEach(
          permission => {
            selectedMapping[permission.name].push(permission.target)
          }
      )
      return selectedMapping
    },
    onInput(permissionName, newVal) {
      newVal.forEach((roleName) => {
        // in case of add
        if (!this.selected[permissionName].includes(roleName)) {
          this.$emit("permission-added", {
            name: permissionName,
            target: roleName
          })
        }
      })

      this.selected[permissionName].forEach(roleName => {
        // in case of remove
        if (!newVal.includes(roleName)) {
          this.$emit("permission-removed", {
            name: permissionName,
            target: roleName
          })
        }
      })
    }
  },
  watch: {
    targetSelected() {
      this.selected = this.initializeSelected()
    }
  }
}
</script>

<style scoped>

</style>