<template>
  <b-modal :id="id" size="lg" title="Create group" hide-footer>
    <b-custom-form
        :fields="fields"
        :on-submit-handler="onSubmit"
    >
    </b-custom-form>
  </b-modal>
</template>

<script>
import BCustomForm from "@/components/Form";
import {createGroup} from "@/api/groups";

export default {
  name: "GroupCreate",
  components: {BCustomForm},
  props: ['id', 'groupCreatedEventName'],
  data() {
    return {
      fields: [
        {
          name: 'title',
        },
        {
          name: 'description',
          optional: true
        }
      ]
    }
  },
  methods: {
    onSubmit(payload) {
      return createGroup(payload)
          .then(response => {
            this.$emit(this.groupCreatedEventName, response.data)
            this.$bvModal.hide(this.id)
          })
    },
  }
}
</script>