<template>
  <div>
    <comment-detail
        v-for="comment in comments"
        :key="comment.id"
        :raw-comment="comment"
    />
    <div
      class="text-center"
    >
      <disableable-button
          v-if="!isLastPage"
          :on-click="fetchNextPage"
          :is-disabled="!canViewComments"
      >
        <!--    todo spinner onBusy-->
        Fetch more
      </disableable-button>
    </div>


    <b-list-group-item style="padding: 0; border: 0">
      <form @submit.prevent="createComment" class="row no-gutters">
        <b-input-group>
          <b-form-input
              v-model="newCommentBody"
              placeholder="Your comment goes here..."
          />
          <b-input-group-append>
            <disableable-button
                :is-disabled="!canAddComments"
                type="submit"
            >
              <b-icon icon="cursor"/>
            </disableable-button>
          </b-input-group-append>
        </b-input-group>
      </form>
    </b-list-group-item>
  </div>
</template>

<script>
import {createComment as createCommentAPI, fetchComments} from "@/api/comments";
import CommentDetail from "@/components/groups/posts/comments/CommentDetail";
import DisableableButton from "@/components/DisableableButton";
import {ADD_COMMENTS, VIEW_COMMENTS} from "@/utils/permission-types";

export default {
  name: "CommentList",
  components: {DisableableButton, CommentDetail},
  props: ["postId", "initialComment", "totalCount"],
  data() {
    return {
      comments: this.initialComment ? [this.initialComment] : [],
      currentPage: 0,
      totalFetchedLength: this.initialComment ? 1 : 0,
      newCommentBody: '',
    }
  },
  methods: {
    fetchNextPage() {
      fetchComments(this.postId, {"page": ++this.currentPage})
        .then(response => {
          let comments = response.data.results

          if (this.initialComment) {
            let alreadyFetchedComment = comments.find(
                comment => comment.id === this.initialComment.id
            )
            if (alreadyFetchedComment)
              comments.splice(comments.indexOf(alreadyFetchedComment), 1)
          }

          this.totalFetchedLength += comments.length
          this.comments.push(...comments)
        })
    },
    createComment() {
      createCommentAPI(
        this.postId,
        this.newCommentBody
      ).then((response) => {
        this.$emit('comment-created', response.data)
        this.newCommentBody = ''
        this.totalFetchedLength++
        this.comments.unshift(response.data)
      })
    },
  },
  computed: {
    isLastPage() {
      return this.totalFetchedLength === this.totalCount
    },
    canViewComments() {
      return this.$store.getters.hasPermission(VIEW_COMMENTS)
    },
    canAddComments() {
      return this.$store.getters.hasPermission(ADD_COMMENTS)
    }
  },
}
</script>
