<template>
  <b-list-group-item>
    <div class="row no-gutters">
      <div class="col-1">
        <profile-thumbnail
            :profile="comment.author"
        />
      </div>
      <div class="col-10" style="padding: 0 5px">
        {{ comment.body }}
      </div>
      <rate-buttons-group
          :initial-disliked-by="comment.dislikedBy"
          :initial-liked-by="comment.likedBy"
          :initial-is-disliked="comment.isDisliked"
          :initial-is-liked="comment.isLiked"
          :on-like="onLike(comment.id)"
          :on-dislike="onDislike(comment.id)"
          :vertical="true"
          class="col-1"
      />
    </div>
  </b-list-group-item>
</template>

<script>
import ProfileThumbnail from "@/components/ProfileThumbnail";
import RateButtonsGroup from "@/components/groups/posts/RateButtonsGroup";
import {toggleDislike, toggleLike} from "@/api/comments";

export default {
  name: "CommentDetail",
  components: {RateButtonsGroup, ProfileThumbnail},
  props: ['rawComment'],
  data() {
    return {
      comment: {
        id: this.rawComment.id,
        postId: this.rawComment.post,
        author: this.rawComment.author,
        body: this.rawComment.body,
        likedBy: this.rawComment.liked_by,
        dislikedBy: this.rawComment.disliked_by,
        isLiked: this.rawComment.is_liked,
        isDisliked: this.rawComment.is_disliked,
      }
    }
  },
  methods: {
    onLike(commentId) {
      return () => toggleLike(this.comment.postId, commentId)
    },
    onDislike(commentId) {
      return () => toggleDislike(this.comment.postId, commentId)
    }
  }
}
</script>

<style scoped>

</style>