<template>
  <div id="app" class="container">
    <NavBar class="mb-3" />
    <div class="row">
      <div class="col-2">
        <SideBar />
      </div>
      <div class="col-10">
        <router-view />
      </div>
    </div>
  </div>
</template>

<script>
  import NavBar from "@/components/NavBar";
  import SideBar from "@/components/SideBar";

  export default {
    name: 'App',
    components: {
      NavBar,
      SideBar
    },
    mounted() {
      this.$store.dispatch(
          "fetchPermissions"
      )
    }
  }
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
</style>
