<template>
  <b-card
      no-body
    >
      <template v-slot:header>
        <div class="row no-gutters justify-content-between">
          <div>
            {{ 'Author ' + post.author.id }}
          </div>
          <div class="post-edit-dropdown">
            <b-dropdown
                :id="'post-edit-dropdown' + `-${post.id}`"
                variant="link"
                toggle-class="no-padding"
                no-caret
            >
              <template v-slot:button-content>
                <b-icon icon="three-dots" />
              </template>
              <b-dropdown-item>
                Edit
              </b-dropdown-item>
              <b-dropdown-divider></b-dropdown-divider>
              <disableable-button
                  :is-disabled="!canDeletePost"
                  :on-click="deletePost"
              >
                Delete
              </disableable-button>
            </b-dropdown>
          </div>
        </div>
      </template>
      <b-card-body>
        <h4>{{ post.title }}</h4>
        {{ post.body }}
      </b-card-body>
      <b-card-footer class="post-footer row no-gutters">
        <rate-buttons-group
            :initial-disliked-by="this.post.dislikedBy"
            :initial-liked-by="this.post.likedBy"
            :initial-is-disliked="this.post.isDisliked"
            :initial-is-liked="this.post.isLiked"
            :on-like="onLike"
            :on-dislike="onDislike"
        />
        <disableable-button
          :is-disabled="true"
          class="ml-3"
        >
          <toggleable-button
              icon-cls="chat"
              :count="this.post.commentsAmount"
          />
        </disableable-button>
      </b-card-footer>
      <comment-list
          :post-id="post.id"
          :initial-comment="this.post.bestComment"
          :total-count="post.commentsAmount"
          @comment-created="onCommentCreated"
      />
    </b-card>
</template>

<script>
import CommentList from "@/components/groups/posts/comments/CommentList";
import RateButtonsGroup from "@/components/groups/posts/RateButtonsGroup";
import ToggleableButton from "@/components/ToggleableButton";
import {deletePost, toggleDislike, toggleLike} from "@/api/posts";
import DisableableButton from "@/components/DisableableButton";
import {DELETE_POSTS} from "@/utils/permission-types";

export default {
  name: "PostDetail",
  components: {DisableableButton, ToggleableButton, RateButtonsGroup, CommentList},
  props: ['rawPost'],
  data() {
    return {
      post: {
        id: this.rawPost.id,
        author: this.rawPost.author,
        title: this.rawPost.title,
        body: this.rawPost.body,
        isLiked: this.rawPost.is_liked,
        isDisliked: this.rawPost.is_disliked,
        dislikedBy: this.rawPost.disliked_by,
        likedBy: this.rawPost.liked_by,
        bestComment: this.rawPost.best_comment,
        commentsAmount: this.rawPost.comments_amount
      }
    }
  },
  methods: {
    onCommentCreated() {
      this.post.commentsAmount++
    },
    onLike() {
      toggleLike(this.post.id)
    },
    onDislike() {
      toggleDislike(this.post.id)
    },
    deletePost() {
      deletePost(this.post.id)
          .then(() => {
            this.$emit('post-deleted', this.post.id)
          })
    }
  },
  computed: {
    canDeletePost() {
      return this.$store.getters.hasPermission(DELETE_POSTS)
    }
  }
}
</script>

<style>
  .post-footer {
    padding: 5px 15px;
  }
  .no-padding {
    padding: 0!important;
  }
</style>
