<template>
  <b-modal :id="id" size="lg" title="Create post" hide-footer>
    <b-custom-form
        :fields="fields"
        :on-submit-handler="onSubmit"
    >
    </b-custom-form>
  </b-modal>
</template>

<script>
import BCustomForm from "@/components/Form";
import {createPost} from "@/api/posts";

export default {
  name: "GroupCreate",
  components: {BCustomForm},
  props: ['id', 'postCreatedEventName', 'groupId'],
  data() {
    return {
      fields: [
        {
          name: 'title',
        },
        {
          name: 'body',
        }
      ]
    }
  },
  methods: {
    onSubmit(payload) {
      return createPost({group: this.groupId, ...payload})
          .then(response => {
            this.$emit(this.postCreatedEventName, response.data)
            this.$bvModal.hide(this.id)
          })
    },
  }
}
</script>
