<template>
  <div>
    <b-list-group-item variant="dark">
      Posts
      <disableable-button
          :is-disabled="!canCreatePost"
          :on-click="() => $bvModal.show(createPostModalId)"
      >
        Create post
      </disableable-button>

      <post-create
          :id="createPostModalId"
          :group-id="this.groupId"
          :post-created-event-name="postCreatedEventName"
          v-on="{ [postCreatedEventName]: onPostCreated }"
      />

    </b-list-group-item>

    <infinite-scroll
        :on-fetch="fetchNextPage"
    >
      <post-detail
          v-for="post in posts"
          :key="post.id"
          :raw-post="post"
          class="mt-3"
          @post-deleted="() => onPostDeleted(post.id)"
      />
    </infinite-scroll>
  </div>

</template>

<script>
import {mapGetters} from "vuex";
import {fetchPosts} from "@/api/posts";
import PostCreate from "@/components/groups/posts/PostCreate";
import InfiniteScroll from "@/components/InfiniteScroll";
import PostDetail from "@/components/groups/posts/PostDetail";
import DisableableButton from "@/components/DisableableButton";
import {ADD_POSTS} from "@/utils/permission-types";

export default {
  name: "PostList",
  components: {DisableableButton, PostCreate, InfiniteScroll, PostDetail},
  props: ['groupId'],
  data() {
    return {
      posts: [],
    }
  },
  methods: {
    onPostCreated(post) {
      this.posts.unshift(post)
    },
    fetchNextPage(page) {
      let queryParams = { page, ...this.filters }
      return (
        fetchPosts(queryParams)
          .then(response => {
            this.posts.push(...response.data.results)
            return response
          })
      )
    },
    onPostDeleted(postId) {
      let removedPost = this.posts.find(post => post.id === postId)
      this.posts.splice(this.posts.indexOf(removedPost), 1)
    }
  },
  computed: {
    canCreatePost() {
      return this.$store.getters.hasPermission(ADD_POSTS)
    },
    createPostModalId() {
      return 'create-group-modal'
    },
    postCreatedEventName() {
      return 'posts-created'
    },
    filters() {
      return {
        group: this.groupId,
      }
    },
    ...mapGetters([
      'currentUser'
    ])
  }
}
</script>

<style scoped>

</style>