<template>
  <div>
    <disableable-button
        :class="firstButtonCls"
        :is-disabled="!canRatePost"
        :on-click="toggleLike"
    >
      <toggleable-button
          icon-cls="hand-thumbs-up"
          :count="likedBy.count"
          :is-toggled="isLiked"
      />
    </disableable-button>
    <disableable-button
        :is-disabled="!canRatePost"
        :on-click="toggleDislike"
    >
      <toggleable-button
          icon-cls="hand-thumbs-down"
          :count="dislikedBy.count"
          :is-toggled="isDisliked"
      />
    </disableable-button>
  </div>
</template>

<script>
import ToggleableButton from "@/components/ToggleableButton";
import DisableableButton from "@/components/DisableableButton";
import {RATE_POST} from "@/utils/permission-types";

export default {
  name: "RateButtonsGroup",
  components: {DisableableButton, ToggleableButton},
  props: [
      'initialDislikedBy',
      'initialLikedBy',
      'initialIsDisliked',
      'initialIsLiked',
      'onLike',
      'onDislike',
      'vertical'
  ],
  data() {
    return {
      dislikedBy: {
        count: this.initialDislikedBy.count,
        results: this.initialDislikedBy.results
      },
      likedBy: {
        count: this.initialLikedBy.count,
        results: this.initialLikedBy.results
      },
      isLiked: this.initialIsLiked,
      isDisliked: this.initialIsDisliked,
    }
  },
  methods: {
    toggleLike() {  // todo edit dislikedBy.results
      if (this.isLiked)
        this.likedBy.count--
      else {
        this.likedBy.count++

        if (this.isDisliked) {
          this.isDisliked = !this.isDisliked
          this.dislikedBy.count--
        }
      }
      this.isLiked = !this.isLiked

      this.onLike()
    },
    toggleDislike() {
      if (this.isDisliked)
        this.dislikedBy.count--
      else {
        this.dislikedBy.count++

        if (this.isLiked) {
          this.isLiked = !this.isLiked
          this.likedBy.count--
        }
      }
      this.isDisliked = !this.isDisliked

      this.onDislike()
    },
  },
  computed: {
    firstButtonCls() {
      return {
        "mr-3": !this.vertical,
        "mb-3": this.vertical,
      }
    },
    canRatePost() {
      return this.$store.getters.hasPermission(RATE_POST)
    }
  }
}
</script>
