<template>
  <div class="row">
    <post-list class="col-9" :group-id="groupId" />

    <div class="col-3">
      <template
          v-if="!this.$store.getters.isFollowing"
      >
        <disableable-button
            class="full-width-btn"
            v-if="canFollowGroup"
            :on-click="() => this.$store.dispatch('followGroup')"
        >
          Follow
        </disableable-button>
        <template
          v-else
        >
          <disableable-button
              v-if="!$store.getters.isFollowRequested"
              class="full-width-btn"
              :is-disabled="false"
              :on-click="() => this.$store.dispatch('requestFollowGroup')"
          >
            Request follow
          </disableable-button>
          <disableable-button
              v-else
              class="full-width-btn"
              :is-disabled="false"
              :on-click="() => this.$store.dispatch('cancelFollowGroupRequest')"
          >
            Cancel request follow
          </disableable-button>
        </template>
      </template>
      <b-button
          class="full-width-btn"
          v-else
          @click="() => this.$store.dispatch('leaveGroup')"
          variant="danger"
      >
        Leave
      </b-button>
      <b-card
          class="followers"
          :header="'Followers ' + this.$store.getters.followersCount"
          header-tag="header"
      >
        <div class="row no-gutters justify-content-around mb-3">
          <profile-thumbnail
              v-for="follower_profile in this.$store.getters.followersPage"
              :key="follower_profile.id"
              :profile="follower_profile"
              class="col-4"
          />
        </div>
      </b-card>
      <b-card
          no-body
      >
        <b-card-header v-b-modal="rolesModalId">
          Roles <b-icon icon="arrows-fullscreen" />
        </b-card-header>
      </b-card>
      <role-list-modal
          :modal-id="rolesModalId"
      />
    </div>
  </div>
</template>

<script>
import ProfileThumbnail from "@/components/ProfileThumbnail";
import infiniteScroll from "@/components/InfiniteScroll";
import RoleListModal from "@/components/groups/roles/RoleListModal";
import store from "@/store"
import InfiniteScroll from "@/components/InfiniteScroll";
import PostList from "@/components/groups/posts/PostList";
import DisableableButton from "@/components/DisableableButton";
import {FOLLOW_GROUP} from "@/utils/permission-types";

export default {
  name: "GroupDetail",
  props: ['groupId'],
  directives: {
    infiniteScroll
  },
  components: {
    DisableableButton,
    PostList,
    InfiniteScroll,
    RoleListModal,
    ProfileThumbnail,
  },
  computed: {
    rolesModalId() {
      return 'roles-list-modal'
    },
    canFollowGroup() {
      return this.$store.getters.hasPermission(FOLLOW_GROUP)
    }
  },
  beforeRouteEnter(to, from, next) {
    store.dispatch(
        "fetchCurrentGroup",
        to.params.groupId
    ).then(() => {
      return store.dispatch("fetchMyPermissions")
          .finally(() => {
            next()
          })
    }).catch(err => {
      console.log(err)
      throw err
    })
  },

}
</script>

<style scoped>
  .full-width-btn {
    width: 100%;
  }
</style>