<template>
  <div class="col-12">
    <disableable-button
        :is-disabled="false"
        :on-click="() => $bvModal.show(createGroupId)"
    >
      Create group
    </disableable-button>

    <group-create
        :id="createGroupId"
        :group-created-event-name="groupCreatedEventName"
        v-on="{ [groupCreatedEventName]: this.groupCreatedHandler }"
    />
    <b-input>
      Some text
    </b-input>

    <b-list-group>
      <infinite-scroll
          :on-fetch="fetchNextPage"
      >
        <b-list-group-item v-for="group in groups">
          <router-link
              :to="{ name: 'GroupDetail', params: {groupId: group.id} }"
          >
            {{group.id}} : {{group.title}}
          </router-link>
        </b-list-group-item>
      </infinite-scroll>
    </b-list-group>
  </div>
</template>

<script>
import GroupCreate from "@/components/groups/GroupCreate";
import {fetchGroups} from "@/api/groups";
import InfiniteScroll from "@/components/InfiniteScroll";
import DisableableButton from "@/components/DisableableButton";

export default {
  name: "GroupList",
  components: {
    DisableableButton,
    InfiniteScroll,
    GroupCreate
  },
  data() {
    return {
      busy: false,
      groups: [],
    }
  },
  methods: {
    fetchNextPage(page) {
      let queryParams = { page, ...this.filters }
      return (
          fetchGroups(queryParams)
            .then(response => {
              this.groups.push(...response.data.results)
              return response
            })
      )
    },
    groupCreatedHandler(group) {
      this.groups.entries.push(group)
    },
  },
  computed: {
    filters() {
      return {
      }
    },
    createGroupId() {
      return 'create-group-modal'
    },
    groupCreatedEventName() {
      return 'group-created'
    },
  },
  watch: {
    filters() {
      this.groups = []
    }
  }
}
</script>