<template>
  <div class="login-view">
    <b-custom-form
      class="col-8 offset-2"
      :fields="fields"
      :on-submit-handler="onSubmit"
    >
      <template v-slot:prepend>
        <div class="my-3">
          Don't have an account?
          <RouterLink :to="{ name: 'Signup' }">Sign up!</RouterLink>
        </div>
      </template>
      <div class="my-3">
        Don't have an account?
        <RouterLink :to="{ name: 'Signup' }">Sign up!</RouterLink>
      </div>
    </b-custom-form>
  </div>
</template>

<script>
import BCustomForm from "@/components/Form"

export default {
  components: {
    BCustomForm
  },
  methods: {
    onSubmit(payload) {
      return this.$store
          .dispatch('login', payload)
          .then(
              () => this.$router.push({ name: 'Profile' })
          )
    },
  },
  data() {
    return {
      fields: [
        {
          name: "username",
          alias: "username or email",
        },
        {
          name: "password",
        },
      ],
    }
  },
}
</script>