<template>
  <div>
    current user: {{ currentUser }}
    profile: {{ profile }}
    <button @click="fetchProfile">fetch profile</button>
  </div>
</template>

<script>
import {mapActions, mapGetters} from "vuex";

export default {
  name: "Profile",
  computed: mapGetters([
    'currentUser',
    'profile'
  ]),
  methods: mapActions([
    'fetchProfile'
  ])
}
</script>

<style scoped>

</style>