<template>
  <div class="signup-view">
    <b-custom-form
        class="col-8 offset-2"
        :fields="fields"
        :on-submit-handler="onSubmit"
    >
      <template v-slot:prepend>
        <div class="my-3">
          Already have an account?
          <RouterLink :to="{ name: 'Login' }">Log in!</RouterLink>
        </div>
      </template>
    </b-custom-form>
  </div>
</template>

<script>
import BCustomForm from "@/components/Form"

export default {
  components: {
    BCustomForm
  },
  methods: {
    onSubmit(payload) {
      return this.$store
          .dispatch("signup", payload)
          .then(() => {
            this.$router.push({ name: 'Profile' })
          })
    },
  },
  data() {
    return {
      fields: [
        {
          name: "username",
          optional: true
        },
        {
          name: "email",
        },
        {
          name: "password",
        },
      ],
    }
  },
}
</script>